/*/////////////////CSS for amenities///////////////////////*/
body{
    background-color: black;
    
    
}
.sidenav {
    right: 20px;
    height: 93vh;
    width: 7.5vw; 
    position: fixed; 
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 15px;
    background-image: url(42.jpg);
    background-position: right;
    background-size:auto;
}    
.sidenav a {
    text-align: center;
    padding-top: 15vh;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    display: block;
  }

.amenities-container{
    width: 87vw;
    height: 40vh;
   margin-left: 1.3vw;
   margin-top: 2.5vh;

   
   
}
.amenities-container img{
    width: 87vw;
    height: 40vh;
    border-radius: 15px;

}
.amenities-text{
    text-align: center;
    color: white;
   margin-top: -30vh;
   position: static;

}









    

.section{
    margin-top: -12vh;
    margin-left: 1.5vw;
    padding: 0;
    height: 90vh;
    display: flex;
    justify-self: center;
    align-items: center;
    
}
.slider{
    width: 50vw;
    height: 60vh;
    border-radius: 20px;
    overflow: hidden;
    background-color: thistle;
    
}
.slide{
    width: 500%;
    height: 64vh;
    display: flex;
    
    
}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 1s;
}
.st img{
    width: 52vw;
    height: 64vh;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -7vh;
    display: flex;
    justify-content: center;
    
}
.m-btn{
    border: 0.1px solid white;
    padding: 5px;

    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: white;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}
#radio5:checked ~.first{
    margin-left: -80%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 57vh;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 0.1px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: white;
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: white;
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: white;
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: white;
}
#radio5:checked ~ .nav-auto .a-b5{
    background-color: white;
}




.services-description-container{
    
    
    
    background-repeat: no-repeat;
    background-position: center;
    width: 35vw;
    height: 60vh;
    float: right;
    border-radius: 15px;
    margin-top: -75vh;
    margin-right: 10vw;

    
}


.services-description-container h1, p{
    text-align: center;
    
} 

.pool{
    margin-top: -13vh;
    width: 30vw;
    height: 50vh;
    background-image: url('12.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    margin-left:1.5vw ;
    border-radius: 15px;
    color: white;
    
}
.pool h1{
    text-align: center;
    
}
.pool h2{
    margin-top: 10vh;
    text-align: center;
    
}
.gym{
    width: 27vw;
    height: 50vh;
    background-image: url('gym2.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 33vw;
    margin-top: -53vh;
    color: white;
}
.gym h1{
    text-align: center;
}
.gym p{
    text-align: center;
}
.gym h2{
    margin-top: 7vh;
    text-align: center
}
.reczone{
    width: 26vw;
    height: 50vh;
    background-image: url('scc.jpg');
    background-size: 130%;
    background-repeat: no-repeat;
    border-radius: 15px;
    float: right;
    margin-top: -50vh;
    margin-right: 10vw;
    color: white;
}
.reczone h1{
    text-align: center;
}
.reczone p{
    text-align: center;
}
.reczone h2{
    margin-top: 7vh;
    text-align: center
}
.color-button{
    font-size: 50px;
    padding: 20px 45px;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-top: -10vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    word-spacing: 4vw;
    margin-top: 5vh;
}





.events{
    color: black;
    margin-top: 4vh;
    background-color: blanchedalmond;
    border-radius: 15px;
    width: 45vw;
    height: 50vh;
    margin-left: 1.5vw;
  
    
    
}
table, th, td {
    border: 1px solid black;
    
    

  }
th{
    font-size: 2.5vh;
    
}
table{
    
    border-collapse: collapse;
    width: 40vw;
    height: 40vh;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    
}
h1{
    text-align: center;
}
.dining{
    background-image: url(38.jpg);
    background-size: 100%;
    background-position: center;
    width: 40vw;
    height: 50.2vh;
    text-align: center;
    float: right;
    border-radius: 15px;
    margin-right: 10vw;
    margin-top: -50vh;
    
}
.dining p{
    margin-top: 5vh;
}
.dining h1{
    margin-top: 15vh;
}



#preloader{
    background: #000000 url(loader.gif) no-repeat center center;
    background-size: 30%;
    height:100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}