/*/////////////////CSS for amenities///////////////////////*/
body{
    background-color: black;
    
}
.sidenav {
    right: 20px;
    height: 93vh;
    width: 7.5vw; 
    position: fixed; 
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 15px;
    background-image: url(42.jpg);
    background-position: right;
    background-size:auto;
}    
.sidenav a {
    text-align: center;
    padding-top: 15vh;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    display: block;
  }

.amenities-container{
    width: 87vw;
    height: 40vh;
   margin-left: 1.3vw;
   margin-top: 2.5vh;

   
   
}
.amenities-container img{
    width: 87vw;
    height: 40vh;
    border-radius: 15px;

}
.amenities-text{
    text-align: center;
    color: white;
   margin-top: -25vh;
   position: static;

}








.services-slides{
    padding: 0;
    margin-left: 1.5vw;
    margin-top: -10vh;
    height: 90vh;
    width: auto;
    justify-self: center;
    align-items: center;
    background-color:black;
    
}
.section{
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    justify-self: center;
    align-items: center;
    
}
.slider{
    width: 55vw;
    height: 60vh;
    border-radius: 20px;
    overflow: hidden;
    background-color: thistle;
    
}
.slide{
    width: 500%;
    height: 64vh;
    display: flex;
    
    
}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 1s;
}
.st img{
    width: 800px;
    height: 500px;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -7vh;
    display: flex;
    justify-content: center;
    
}
.m-btn{
    border: 0.1px solid white;
    padding: 5px;

    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: white;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}
#radio5:checked ~.first{
    margin-left: -80%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 57vh;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 0.1px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: white;
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: white;
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: white;
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: white;
}
#radio5:checked ~ .nav-auto .a-b5{
    background-color: white;
}

.services-description-container :hover{
    background-color: teal;
}
.services-description-container{
    
    width: 32vw;
    height: 65vh;
    float: right;
   /* margin-top: -82.5vh;*/
    margin-right: 8.7vw;
    
}
.description{
    height: 62.5vh;
    padding: 10px;
    text-align: center;
    color: black;
    border-radius: 20px;
    background-color: blanchedalmond;
    
}
.pool-container{
    width: 87vw;
    height: auto;
    
    margin-left: 20px;
    margin-top: -89px;
}
.pool-pic img{
    width: 87vw;
    height: 100vh;
    border-radius: 20px;
    opacity: .8;
    
}
.pool-text{
    color: white;
    text-align: center;
    margin-top: -650px;
    
    z-index: 2;
    position: relative;
}



#preloader{
    background: #000000 url(loader.gif) no-repeat center center;
    background-size: 30%;
    height:100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}