body {
    font-family: Helvetica, Sans-Serif;
    color: #444444;
  }

.welcome {
    margin: 20px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    background-position: center;
    padding: 20px;
    width: 85vw;
    height: 90vh;
    color: rgb(0, 0, 0);
    text-align: center;
   }
  
  .map iframe{
    margin: 20px;
    border-radius: 20px;
    width: 42vw;
    height: 85vh;
  }



  .sidenav {
    right: 20px;
    height: 92vh; /* Full-height: remove this if you want "auto" height */
    width: 7vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    background-color: rgb(255, 255, 255); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-radius: 20px;

  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    display: block;
  }










